<div class="message-inner">
    <div class="added-product-title clearfix"> {{ Item successfully added to your cart|t }} </div>
    <div class="button-wrapper">
        <div class="button checkout">'
            Go to checkout
        </div>
        <div class="button continue">
            <span class="commerce-add-to-cart-confirmation-close">
                Continue shopping
            </span>
        </div>
    </div>
    {{ view }}
    <a class="commerce-add-to-cart-confirmation-close" href="#">
        <span class="element-invisible">Close</span>
    </a>
</div>
